<div class="container mt-5">
    <div class="contact-section text-center" data-aos="fade-up" data-aos-duration="1000">
        <h1 class="mb-4" data-aos="fade-down" data-aos-delay="100">Let’s Connect</h1>
        <p class="mb-4" data-aos="fade-up" data-aos-delay="200">
            I’m always open to networking, collaboration, or professional opportunities. Feel free to connect with me on these platforms:
        </p>

        <div class="social-links mb-3" data-aos="zoom-in" data-aos-delay="300">
            <a href="https://github.com/solankipratik8008" target="_blank" class="social-icon" title="GitHub">
                <i class="fab fa-github"></i> GitHub
            </a>
            <a href="https://www.linkedin.com/in/pratikkumar-solanki-045b62365" target="_blank" class="social-icon" title="LinkedIn">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
        </div>

        <div class="contact-details" data-aos="fade-up" data-aos-delay="400">
            <p>
                <i class="fas fa-envelope"></i>
                <a href="mailto:itsmepratik4095@gmail.com" class="text-decoration-none text-dark">
                    itsmepratik4095@gmail.com
                </a>
            </p>
            <p>
                <i class="fas fa-phone-alt"></i>
                <a href="tel:+15483848008" class="text-decoration-none text-dark">
                    +1 (548) 384-8008
                </a>
            </p>
        </div>
    </div>
</div>
